<div class="container">
    <div class="row">
        <div class="col">
            <form action="/adminHome/addProduct" method="POST" enctype="multipart/form-data">
                <table class="table table-dark table-striped" id="admin-table">
                    <tbody>
                        <tr>
                            <td>
                                <input type="name" name="productName" id="name" placeholder="Product Name"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <div class="input-group">
                                    <select class="form-select" id="inputGroupSelect02">
                                        <option selected>Choose category</option>
                                        <% categories.forEach(category=> { %>
                                            <option value="<%= category.productCategory %>">
                                                <%= category.productCategory %>
                                            </option>
                                        <% }); %>
                                    </select>

                                </div>
                            </td>
                            <td>
                                <input type="name" name="productBrand" id="name" placeholder="Brand"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="name" name="productQuality" id="name" placeholder="Quality"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <input type="name" name="productPrice" id="name" placeholder="Price"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <input type="name" name="productStock" id="name" placeholder="Stock"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="name" name="productDescription" id="name" placeholder="Description"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <input type="file" name="images" accept="image/*" multiple>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="text-center">
                    <button btn class="btn btn-outline-primary fw-bold text-dark w-25 p-2 rounded-3" type="submit">Add
                        Product</button>
                </div>
            </form>
            <div class="text-center">
                <button btn class="btn btn-outline-primary fw-bold text-dark w-25 p-2 rounded-3"
                    id="btnCancel">Cancel</button>
            </div>


        </div>
    </div>
</div>