<div class="container">
  <div class="row">
    <div class="col-md">
      <table class="table" id="admin-table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div class= "text-center" id="admin-table">
        <button  class="btn fw-bold text-light w-25 p-2 rounded-3" id="" type="button">NEW</button>
      </div>
    </div>
  </div>
</div>