<div class="sidebar bg-dark">
    <div class="col-lg-3 d-none d-lg-block text-center mt-3 mb-3">
      <a href="/admin" class="text-decoration-none">
        <img class="rounded" src="/images/smart-depot1.png" width="200" alt=""></a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name" id="analytics">Analytics</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-box'></i>
          <span class="links_name" id="products">Products</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-list-ul'></i>
          <span class="links_name" id="orders">Orders</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-user'></i>
          <span class="links_name" id="users">Users</span>
        </a>
      </li>
      <li>  
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name" id="categories">Categories</span>
        </a>
      </li>
      <li>  
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name" id="offers">Offers</span>
        </a>
      </li>
      <li class="log_out">
        <a href="/admin/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx  sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <form action="/search" method="GET">
      <div class="search-box">
        <input type="text" placeholder="Search..." name="searchInput">
        <a href=""><i class='bx bx-search'></i></a>
      </div>
      </form>
      <div class="profile-details bg-secondary">
       <a href="/admin/adminAccount" class="text-decoration-none">
        <img src="/profileImage/<%= adminData.profileImageName %>" alt="">
        <span class="admin_name"><%= adminData.fullName %></span>
      </a>
      </div>
    </nav>