    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-10 d-none d-lg-block float-center">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-2 text-center float-end">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5 bg-dark">
            <div class="col-lg-3 col-md-6 col-sm-12 d-none d-lg-block text-center">
                <a href="/?page=1" class="text-decoration-none">
                <img src="/images/smart-depot1.png" width="200" alt=""></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                <form action="/search" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control rounded" placeholder="Product name, Price, Brand, Category etc.." name="searchInput">
                        <div class="input-group-append">
                                <button class="btn border rounded-3" type="submit">
                                    <img src="/images/search.png" width="20vw" alt="">
                                </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-right">
                <a href="/account" class="btn" id="profileicon">
                    <img src="/profileImage/<%= users.profileImageName %>" class="rounded-3" id="profileiconimg" alt="">
                </a>
                <a href="/wishList" class="btn border rounded-3" id="topicon">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge"><%= countWishlist %></span>
                </a>
                <a href="/cart" class="btn border rounded-3" id="topicon">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge"><%= countCart %></span>
                </a>
                <a href="/wallet" class="btn border rounded-3" id="topicon">
                    <i class="fas fa-wallet text-primary"></i>
                    <span class="badge">₹</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->