<%-include('partials/header.ejs')%>

<div id="background2" class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row w-100 m-0">
      <div class="col-md-4"></div>
      <div class="col-md-4 bg-light p-5 rounded text-center">
        <form method="POST" action="/login/addNewPassword" class="text-center text-light">

          <div class="mb-3">
            <label for="password" class="form-label text-dark">Enter your new password</label>
            <input type="password" id="password" name="password" class="form-control bg-light" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-dark">Confirm your new password</label>
            <input type="password" id="password" name="confirmPassword" class="form-control bg-light" required>
          </div>
      
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-outline-primary w-10" type="submit">Change password</button>
              </div>
            </div>
          </div>
        </form>
        </div>
      <div class="col-md-4"></div>
    </div>
  </div>

<%-include('partials/footer.ejs')%>