<button id="rzp-button1">Pay with Razorpay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_tckq0nJQnF0XIb",
    "amount": "<%= data.amount %>",
    "currency": "INR",
    "name": "SMART DEPOT",
    "description": "Online purchse from Smart Depot",
    "image": "http://localhost:3000/home.com/your_logo",
    "order_id": "<%= data.id %>",
    "callback_url": "http://localhost:3000/payment/verifyPayment",
    "prefill": {
        "name": "Smart-Depot",
        "email": "smartdepot494@gmail.com",
        "contact": "9876543210"
    },
    "notes": {
        "address": "Smart-Depot Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>