<%-include('partials/header.ejs')%>

<div id="background3" class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row w-100 m-0">
    <div class="col-md-4"></div>
    <div class="col-md-4 bg-light p-5 rounded text-center">
      <h1 class="mb-3">LOGIN</h1>
        <form method="POST" action="/userLogin" class="text-center text-dark" onsubmit="return validateFormLogin()">
        
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control bg-outline-primary" id="email" name="email" 
            aria-describedby="emailHelp" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}" 
            title="Email should be in 'user@example.com' format." required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control bg-light"
            pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@#$%^&+=!])[A-Za-z\d@#$%^&+=!]{8,}" 
            title="Min 8 characters which should include atleast a uppercase, lowercase, digit & special character" required>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-outline-primary w-10 fw-bold fs-4" type="submit">Log in</button>
              </div>
            </div>
          </div>
          <% if(errorMsg){ %>
            <div class="bg-danger mt-2">
                <h6><%= errorMsg %></h6>
            </div>
          <% } %>
        </form>
        <a href="/userLogin/forgotPassword"><p class="mt-2 text-dark">Forgot Password ?</p></a>
        <a href="/userSignup"><p class="mt-2 text-dark">Create a new account</p></a>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>

  <%-include('partials/footer.ejs')%>